@tailwind base;
@tailwind components;
@tailwind utilities;

.playwrite-au-sa-logo {
    font-family: "Playwrite AU SA", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.lexend-deca-text {
    font-family: "Lexend Deca", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.gowun-dodum-regular {
    font-family: "Gowun Dodum", serif;
    font-weight: 400;
    font-style: normal;
}
  